doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registration Email
  body
    h1 Welcome to Demo World!
    p Hi 
      strong #{name},
    p Thank you for creating an account.
    p Your registered email is 
      strong #{email}.
    p Your system-generated password is 
      strong #{password}. 
      | Please use this to log in.
    p Thanks,
    p The Demo Team


